/*----------- Tag CSS ---------*/

a {
  color: #F2F2F2;
  font-family: 'Lato', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #07F2F2;
}

body {
  color: #40514E;
  font-family: 'Lato', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #024873;
  font-family: 'Pacifico', cursive;
  font-size: 5.625rem;
  margin: 120px auto 0;
}

h2 {
  color:#024873;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 25px auto;
}

h3 {
  color: #0477BF;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  clear: both;
  color: #05C7F2;
  width: 5%;
  margin: 50px auto;
}

p {
  line-height: 2;
}

/* Navigation */
.navbar-brand{
  color: #024873;
}

.nav-link {
  color: #05C7F2;
}

.navbar-brand:hover, .nav-link:hover {
  color: #024873;
}

/* Intro */
.intro {
  width: 30%;
  margin: auto;
}

.top-container {
    background-color: #F2F2F2;
    position: relative;
    padding-top: 50px;
}

.moon-image {
  position: absolute;
  width: 10%;
  top: 50px;
  left: 70px;
}

/* Project section */
.project-link {
  margin: 0;
}

.project-img {
  width:50%;
}

.project-para {
  text-align: left;
  width: 50%;
}

/* Bio */
.middle-container {
  margin-top: 30px;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.skill-row img {
  width: 25%;
}

.computer-image {
  float: left;
  margin-right: 30px;
}

.photoshop-image {
  float: right;
  margin-left: 30px;
}

.profile img {
  width:15%;
}

/* Footer */
.bottom-container {
  background-color: #024873;
  margin: 0;
  padding: 20px 0;
}

.copyright {
  color: #05C7F2;
  font-size: .75em;
}

.contact-me a{
  margin-bottom: 20px;
}

.contact-btn {
  background-color: #024873;
  color: #F2F2F2;
}

.contact-btn:hover {
  background-color: #05C7F2;
  color: #024873;
}

/* Media */
@media (max-width:1000px) {
  .project-img {
    padding: .5rem;
    width:100%;
  }
  .project-para {
    text-align: center;
    width: 100%;
  }
}
